/*ESTRUTURA DO SITE*/

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff  url(../imagens/fundo.png) repeat-x;
    margin-left:  auto;
    margin-right: auto;
    
}

#container {
    width: 750px;
    margin: auto;
    
    
    
}

header {
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;

}

#container h1 {

}

.logo {
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -30000px  ;
}

/*BARRA DE NAVEGAÇÃO*/

a {
    text-decoration: none;
    cursor: pointer;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    

}

header ul {
    margin-top: 30px;
    background-color: #b10333;
    float: left;

}

header ul li{

    float: left;
}

header ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em ;
    color: #fff;
    background: url(../imagens/divisor.png) no-repeat left center;
    
}

/*PARA REMOVER O PRIMEIRO DIVISOR:
- ACRESCENTA UMA CLASS "PRIMEIRO" NO PRIMEIRO LINK*/

header ul .primeiro a {
    background: none;
}

header ul a:hover {
    color: #69001d;
    
}
 /* PARA SELECIONAR A PÁGINA QUE O USUÁRIO ESTÁ NO MOMENTO:
 AQUI SELECIONAMOS O ID HOME QUE ESTÁ NO BODY E ID HOME QUE ESTÁ DENTRO DO LINK (a)*/
body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.fotos #navegacao a#fotos,
body.saude #navegacao a#saude  {

    color: #fff;
    background: #de003e;
}

/*CONFIGURAÇÃO DE LAYOUT DE TRÊS COLUNAS - HOME*/

#conteudo {
    background: #f5f5f5 ;
    margin-top: 60px;
}

#tres-colunas #primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
    
}
#duas-colunas #primario .caixa {
    width: 555px;
    
    margin: 0 0 20px 195px;
   
}

#uma-coluna #primario .caixa {
        width: 750px;
        margin: 0 0 20px 0px;
        
    
}

#primario .caixa {
    width: 270px;
    float: left;
   
}

#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
    
}


/*FORMATAR MENUS LATERAIS*/

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
    
}

/*FORMATANDO LINKS*/
#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
   border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    background: url(../imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;

}

#primario a , #secundario a {
    color: #b10333;
    margin-bottom: 20px;
}

.caixa {
    margin: 10px 0; /*PARA COLOCAR ESPAÇAMENTO SUPERIOR E INFERIOR*/
    padding: 5px;
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
}

h2 {
    font-size: 1em;
    background: #294c71;
    color: white;
    padding: 5px;
}

.caixaConteudo {
    background: white;
    margin-top: 5px;
}

/*BOTÃO - INPUT*/
label {
    display: block;
    cursor: pointer;
   
}

input {
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
}

input.submit {
    width: 90px;
    color: white;
    background-color: #b01333;
    border: 2px solid #870529;
    padding: 5px;
}

/*FORMATANDO OS DESTAQUES*/

.caixaConteudo h3 {
    background: #b10333;
    color: white;
    width: 138px;
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}



#secundario h3 {
    color: rgb(224, 224, 224);
    background: #de003e;
}

/*FORMATANDO IMAGENS*/ 
img {
    border: 2px solid #dfdfdf;
}

img.imagemPrincipal {
    width: 90%;
    border: 3px solid #dfdfdf;
}

/*FORMATANDO LISTAS DE NOTÍCIAS*/
#listaNoticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}

#listaNoticias li a img {
    float: left;
    margin: 5px;
}

#listaNoticias li a {
   font-size: 0.75em;
}


#listaNoticias li a h4 {
    text-transform: uppercase;
    margin-bottom: 2px;
    font-size: 0.95em;
    font-style: bold; 
    color: #3e7ab9;
}

#listaNoticias li a h4:hover {
  
    color: #98bfe7;
}

#listaNoticias li a:hover {
    font-size: 0.75em;
    color:  #e68da6;
    background: #eee;
    

 }

footer {
    background: #295c71;
    padding: 20px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

